<div class='row'>
  <div class='col-sm-12'>
    <carousel class='text-center' *ngIf='homeVideoList'>
      <slide *ngFor='let videoItem of homeVideoList'>
        <a class='' routerLink='/videos/{{ videoItem.slug }}' routerLinkActive="active">
          <img class='img-main-carousel'  [src]='videoItem.image' height=500px alt='video.title'>
        </a>
        <div class="carousel-caption">
          <h4>{{ videoItem.title }}</h4>
        </div>
      </slide>
    </carousel>
  </div>
</div>
<br/>
